h1,
h2,
h3,
h4 {
    margin-top: 2em;
}

.con {
    width: 30%;
    min-height: 200px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.st {
    position: static;
    left: 900px;
    top: 200px;
}

.re {
    position: relative;
    left: 300px;
    top: 200px;
}

.re2 {
    position: relative;
}

.ab {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 20%;
    height: 40%;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fx {
    position: fixed;
    left: 1200px;
    top: 600px;
}

.sy {
    position: sticky;
    top: 100px;
}