.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 60px;
}

.mr {
    margin-right: 80px;
}

.ml {
    margin-left: 100px;
}

.capa {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
}